
streamlit>=1.33
openai
langchain==0.1.16
langchain-community>=0.0.18
langchain-openai>=0.1.6
chromadb


tqdm
pandas
PyMuPDF
pypdf
requests
python-dotenv
python-docx
PyYAML
scikit-learn
openpyxl==3.1.2


sentence-transformers==2.2.2
transformers==4.30.2
tokenizers==0.13.3
torch==2.2.0
huggingface_hub==0.19.4
einops==0.8.1