langchain-openai>=0.1.6
chromadb
PyMuPDF
pypdf
PyYAML
scikit-learn
openpyxl==3.1.2
sentence-transformers==2.2.2
transformers==4.30.2
tokenizers==0.13.3
huggingface_hub==0.19.4
einops==0.8.1
certifi==2025.1.31
fitz==0.0.1.dev2
langchain==0.3.26
langchain_community==0.3.27
langchain_core==0.3.70
openai==1.97.0
pandas==2.3.1
python-dotenv==1.1.1
python_docx==1.1.2
Requests==2.32.4
streamlit==1.45.1
torch==2.5.1+cu121
tqdm==4.67.1
